* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", sans-serif;


}

.hero-section {
    background-image: url(./imajes/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.firstcontainer {
    color: yellow;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 10%;
    padding-left: 20%;
    display: flex;
    flex-wrap: wrap;
}

.text1 {
    font-size: 90px;
    color: blue;

}

#bigh1 {
    font-size: 350%;
    font-weight: 100;
    width: 60%;
    padding-top: 0%;
    color: yellow;
padding-bottom: 150px;
}

.secondcontainer {
    background-color: rgb(42, 41, 41);
    color: white;
    text-align: center;
    letter-spacing: 6px;
    padding: 10px 10px;
    /* display: flex;
    flex-wrap: wrap; */
}

.thirdcontainer {

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* margin: 20px 0px; */
}

.work {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


.card {
    padding: 50px;
    background-color: rgb(164, 180, 62);
    /* box-shadow: 3px 3px 3px 3px rgb(17, 96, 186); */
    transition: 0.2s ease-in-out;
}

.card :hover {
    transform: scale(1.04);
}

h3 {
    padding: 10px;
}

.imagecontainer {
    /* border-radius: 20px; */
    box-shadow: 3px 3px 3px 3px rgb(17, 96, 186);
    width: 100%;
}

p {
    padding: 10px;
}

.image {
    width: 100%;

}

.sectionbottom {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    /* background-color: #c1da00; */
    color: black;
    flex-wrap: wrap;
}

.contact {
    /* border: 1px solid black; */
    padding: 25px;
    background-color: rgb(160, 174, 8);
    margin: 20px;

}

.about {
    /* border: 1px solid black; */
    background-color: rgba(126, 48, 48, 0.936);
    padding: 25px;
    margin: 20px;

}

.fourth {
    /* display: flex;
flex: wrap; */
    text-align: center;
    background-color: rgb(199, 172, 172);
    color: rgb(189, 20, 20);
    box-shadow: 5px red;
    margin-bottom: 25px;
}